.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 514px;
  height: 514px;
  margin: 7px auto 0 -37px;
}

.u-section-1 .u-form-1 {
  height: 310px;
  margin: -458px 57px 0 464px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -56px 292px 0 auto;
  padding: 21px 47px 22px 46px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 105px auto 29px -50px;
  padding: 21px 47px 22px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-top: -459px;
    margin-right: 0;
    margin-left: 322px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 92px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -285px;
  }
}